
<!-- footer -->
<footer class="footer">
	<!--footer-main-panel-->
	<div class="footer-main-panel cnt-section">
		<div class="inner-wrap">
			<div class="logos-wrap">
				<div class="logo-wrap">
					<a href="" class="logo">
						<img src="./img/main/footer-logo01.svg" alt="">
					</a>
				</div>
				<div class="logo-wrap">
					<a href="" class="logo">
						<img src="./img/main/footer-logo02.svg" alt="">
					</a>
				</div>
				<div class="logos-info-wrap">
					<p>Resident of the Skolkovo Foundation and&nbsp;Moscow Innovation cluster </p>
				</div>
			</div>
			<div class="info-wrap">
				<div class="info-column-wrap">
					<div class="info-section">
						<div class="info-section-title"><b>Phone:</b></div>
						<div class="info-section-value">
							<a href="tel:84852679459" class="link-phone">+7 (4852) 67-94-59</a>
						</div>
					</div>
					<div class="info-section">
						<div class="info-section-value">150031, Yaroslavl, Promishlennaya street, 12</div>
					</div>
					<div class="info-section">
						<div class="info-section-title">
							<a href="" class="link-main"><b>Driving directions</b></a>
						</div>
					</div>
					<div class="info-section">
						<div class="info-section-title"><b>ITN</b> 7606113654</div>
					</div>
					<div class="info-section">
						<div class="info-section-title"><b>PSRN</b> 1177627020504</div>
					</div>
				</div>
				<div class="info-column-wrap">
					<div class="info-section">
						<div class="info-section-title"><b>General issues:</b></div>
						<div class="info-section-value">
							<a href="mailto:info@aurora.eco" class="link-email">info@aurora.eco</a>
						</div>
					</div>
					<div class="info-section">
						<div class="info-section-title"><b>Sales department:</b></div>
						<div class="info-section-value">
							<a href="mailto:sales@aurora.eco" class="link-email">sales@aurora.eco</a>
						</div>
					</div>
					<div class="info-section">
						<div class="info-section-title"><b>HR department:</b></div>
						<div class="info-section-value">
							<a href="mailto:info_kadry@aurora.eco" class="link-email">info_kadry@aurora.eco</a>
						</div>
					</div>
					<div class="info-section">
						<a href="" class="btn-action-ico button-soc">
							<img src="./img/icons/soc-yt.svg" alt="">
						</a>
					</div>
				</div>
			</div>
			<div class="actions-wrap">
				<div class="action-wrap">
					<a href="" class="btn" data-src="#popup-main" data-fancybox>Request a consultation</a>
				</div>
			</div>
		</div>
	</div>
	<!--/footer-main-panel-->
	<!--footer-bottom-panel-->
	<div class="footer-bottom-panel cnt-section">
		<div class="inner-wrap">
			<p>Research is carried out with grant support from the&nbsp;Skolkovo Foundation</p>
			<p>© 2022 AURORA BOREALIS Ltd. </p>
		</div>
	</div>
	<!--/footer-bottom-panel-->
</footer>
<!-- /footer -->


<!--popup-box-->
<div class="popup-box" id="popup-main">
	<div class="popup-title-wrap">
		<div class="popup-title h1-title">Feedback</div>
		<p>Fill out the simple form below and we will answer all&nbsp;your&nbsp;questions.</p>
	</div>
	<div class="popup-content-wrap">
		<form action="/" class="frm-popup">
			<div class="frm-row">
				<input type="text" class="form-input" placeholder="Your Name">
			</div>
			<div class="frm-row">
				<input type="tel" class="form-input" placeholder="Phone or email">
			</div>
			<div class="frm-row">
				<textarea class="form-input" placeholder="Message"></textarea>
			</div>
			<div class="frm-row-submit">
				<button type="submit" class="btn">Send</button>
				<div class="submit-info">By pressing «Send» I approve the data processing agreement</div>
			</div>
		</form>
	</div>
</div><!--/popup-box-->