
<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="logo-wrap">
			<a href="" class="logo">
				<img src="./img/main/logo.svg" alt="">
			</a>
		</div>
		<div class="contacts-wrap">
			<div class="link-wrap">
				<a href="mailto:info@aurora.eco" class="link-email">info@aurora.eco</a>
			</div>
			<div class="soc-wrap">
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/soc-yt.svg" alt="">
				</a>
			</div>
			<div class="link-wrap">
				<a href="tel:84852679459" class="link-phone">+7 (4852) 67-94-59 </a>
			</div>
		</div>
		<div class="actions-wrap">
			<div class="action-wrap">
				<a href="" class="btn" data-src="#popup-main" data-fancybox>Request a consultation</a>
			</div>
			<div class="action-wrap">
				<ul class="menu-langs">
					<li>
						<a href="" class="btn-action-ico button-lang">
							<img src="./img/icons/lang-en.svg" alt="">
						</a>
					</li>
					<li>
						<a href="" class="btn-action-ico button-lang active">
							<img src="./img/icons/lang-ru.svg" alt="">
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</header>
<!-- /header -->